h1 {
    text-align: center;
    background-color: rgba(73, 0, 102, 0.918);
    color: white;
}

h4 {
    color: rgb(76, 0, 148);
}

body {
    background-color: grey;
}
.recipe {
    font-size: 20px;
    color: rgb(163, 0, 114);
    font-weight: 700;
}

ol {
    color: black;
}

.ingredients {
    font-weight: bold;
}